<?xml version="1.0" encoding="UTF-8"?>
<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
		bootstrap="tests/bootstrap.php"
		backupGlobals="false"
		colors="true"
		beStrictAboutOutputDuringTests="true"
		failOnRisky="true">
	<testsuites>
		<testsuite name="assets">
			<directory suffix="Test.php">tests/Unit</directory>
			<directory suffix="Test.php">tests/Integration</directory>
			<directory suffix="Test.php">tests/Contract</directory>
			<directory suffix="Test.php">tests/Architecture</directory>
		</testsuite>
	</testsuites>
</phpunit>
